$bg-primary1: #28427A;
$bg-primary2:  #419669;
$color-primary: #FFFFFF;
$color-secondary: #CACACA;
// $text-secondary: #8794BA;
// $text-main: #172755

/* Media queries */
// $mobile-breakpoint : "max-width: 600px";